<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyp.dubbo.provider.dao.SendSmsRecordMapper">
    <select id="selectSendSmsRecordList" resultType="com.hyp.dubbo.provider.beans.SendSmsRecord">
        select * from  bxfw_sendsms_record
    </select>
</mapper>